.add-category-page{
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.category-form{
    display: flex;
    flex-direction: column;
}
.category-form h2{
    font-size: 24px;
    margin-bottom: 10px;
}
.category-form input{
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}
.category-form button{
    background-color: #f68b1e;
    color: #fff;
    border: none;
    font-size: 16px;
    cursor: pointer;
    padding: 13px 20px;
}
.category-form button:hover{
    background-color: #c4803c;
}