.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 8rem;

}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.error {
    color: red;
    text-align: center;
    margin-bottom: 20px;
}

.filter-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

label {
    margin-right: 10px;
    font-weight: bold;
}

select {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th,
td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #f4f4f4;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}
tr:hover{
    background-color: #f1f1f1;
}
button{
    padding: 10px 15px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    background-color: #f68b1e;
    color: #fff;
    cursor: pointer;
}
button:hover{
    background-color: #d09356;
}