div {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 9rem;
}

button {
    margin: 0 5px;
    padding: 10px 15px;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
}

button.active {
    background-color: #f68b1e;
    color: #fff;
}

button:hover {
    color: #fff;
}