footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;

    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    font-size: 20px;
}

.footer-links {
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

li {
    margin: 0 15px;
}

a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

.footer-info {
    font-size: 14px;
}